* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}
main {
  background-image: url(images/bg-header-desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1px;
  text-align: center;
}
header {
  width: 90%;
  margin: 15% auto;
  margin-bottom: 10%;
}
h1,
h2 {
  color: var(--Dark-Grayish-Blue);
  width: 70%;
  margin: 30px auto;
}
p {
  color: var(--Grayish-Blue);
  width: 70%;
  margin: 30px auto;
  line-height: 1.8;
}
section {
  margin: 50px;
}
button {
  margin-right: 30px;
  border-radius: 40px;
  padding: 20px;
  border: none;
  outline: none;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
button:first-child {
  background-color: var(--Strong-Cyan);
  box-shadow: 0 9px 14px hsla(171, 66%, 44%, 0.31);
  border-bottom: 4px groove hsla(171, 66%, 44%, 0.6);
}
button:last-child {
  background-color: var(--Light-Blue);
  box-shadow: 0 9px 14px hsla(233, 100%, 69%, 0.481);
  border-bottom: 2px groove hsla(233, 100%, 69%, 0.9);
}
button:hover {
  opacity: 0.8;
}
article {
  width: 80%;
  margin: 5% auto;
}
.desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
  padding: 30px 0;
  margin-bottom: 50px;
}
.desktop > div:not(.desc) {
  width: 50%;
  background-image: url(images/image-computer.png);
  background-size: 100% 100%;
  height: 65vh;
}
.desktop .desc {
  width: 50%;
  padding: 20px;
}
.decices img {
  max-width: 100%;
}
.icons {
  display: flex;
  flex-wrap: wrap;
}
.icons div {
  width: 30%;
  margin: 30px auto;
}
.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  margin: 50px auto;
}
.social img {
  margin-bottom: 20px;
}
header:nth-of-type(2) {
  margin: 10% auto;
}
header:nth-of-type(2) p {
  width: 60%;
}
footer {
  background-color: #eeeeee82;
  padding: 30px 30px 10px;
}
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .links div {
  width: 65px;
  height: 65px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  border: 5px solid transparent;
  overflow: hidden;
}
footer img {
  width: 50px;
}
footer .links img {
  width: 90%;
  margin: 0 auto;
  display: block;
}
footer .links div:hover {
  border: 5px solid var(--Strong-Cyan);
}
ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
ul li a {
  text-decoration: none;
  color: var(--Grayish-Blue);
  transition: color 0.5s ease-in-out;
}
ul li a:hover {
  color: var(--Strong-Cyan);
}
@media screen and (max-width: 768px) {
  main {
    background-image: url(images/bg-header-mobile.png);
  }
  header section button {
    margin-right: 0;
  }
  header section button:first-child {
    margin-bottom: 30px;
  }
  .desktop {
    flex-direction: column;
  }
  .desktop > div:not(.desc),
  .desktop .desc {
    width: 100%;
  }
  .desktop > div:not(.desc) {
    height: 50vh;
  }
  .icons {
    flex-direction: column;
  }
  .icons div {
    width: 100%;
  }
  .social {
    flex-direction: column;
  }
  footer div {
    flex-wrap: wrap;
  }
  .links {
    margin: 10px auto;
  }
}
